/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Zen Dots', cursive;
}
/* GENERAL */
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    
}
header, footer{
    background-color: white;
}
.container-small{
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
/* HEADER */
header{
    height: 12vh;
    width: 100%;
    justify-content: space-between;
}
.play {
    display: flex;
}
.play > select{
    padding: 5px;
    font-size: 1em;
}
.play > button{
    padding: 2px 20px;
    font-size: 1.5em;
}

/* MAIN */
main{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* container sx */
.container-sx{
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-wrap: wrap;border: 2px solid white;
    position: relative;
}
.transparent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}
.square{
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.square:hover{
    cursor: pointer;
    color: white;
}
.safe{
    background-color: green;
    color: white;
}
.bomb{
    background-color: red;
    color: white;
}

/* container dx */
.container-dx {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-level{
    margin-bottom: 1rem;
}
.info-num-bomb{
    color: red;
}
.info-num-square {
    color: greenyellow;
}
.box{
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 1rem;
}
.box h2{
    font-size: 3em;
}
h3{
    margin: 1rem 0;
}
.result{
    font-size: 3em;
}
.box h4{
    font-size: 1.5em;
}
.view-bomb{
    margin-top: 1rem;
    padding: 3px;
    border: 1px solid white;
    display: none;
    transition: all 0.25s;
}
.view-bomb:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* FOOTER */
footer{
    height: 8vh;
    width: 100%;
    font-size: 1.25em;
}